/*
  ========================================
  Header
  ========================================
*/

#header {
    padding: 9em 0 9em 0;
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-color: grey;
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

    #header a {
      border-bottom-color: rgba(255, 255, 255, 0.5);
    }

      #header a:hover {
        color: #ffffff;
      }

    #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header strong, #header b {
      color: #ffffff;
    }

    #header header.major:after {
      background: #ffffff;
    }

    #header input[type="submit"],
    #header input[type="reset"],
    #header input[type="button"],
    #header button,
    #header .button {
      box-shadow: inset 0 0 0 1px #ffffff;
      color: #ffffff !important;
    }

      #header input[type="submit"]:hover,
      #header input[type="reset"]:hover,
      #header input[type="button"]:hover,
      #header button:hover,
      #header .button:hover {
        background-color: rgba(255, 255, 255, 0.125);
      }

      #header input[type="submit"]:active,
      #header input[type="reset"]:active,
      #header input[type="button"]:active,
      #header button:active,
      #header .button:active {
        background-color: rgba(255, 255, 255, 0.25);
      }

      #header input[type="submit"].special,
      #header input[type="reset"].special,
      #header input[type="button"].special,
      #header button.special,
      #header .button.special {
        background-color: #ffffff;
        box-shadow: inset 0 0 0 1px #ffffff !important;
        color: #4686a0 !important;
      }

        #header input[type="submit"].special:hover,
        #header input[type="reset"].special:hover,
        #header input[type="button"].special:hover,
        #header button.special:hover,
        #header .button.special:hover {
          background-color: rgba(255, 255, 255, 0.125) !important;
          color: #ffffff !important;
        }

        #header input[type="submit"].special:active,
        #header input[type="reset"].special:active,
        #header input[type="button"].special:active,
        #header button.special:active,
        #header .button.special:active {
          background-color: rgba(255, 255, 255, 0.25) !important;
        }

    #header h1 {
      margin: 0;
    }

    #header p {
      margin: 1em 0 0 0;
    }

    #header .actions {
      margin: 2.5em 0 0 0;
      position: relative;
    }

      #header .actions:after {
        background: #ffffff;
        content: '';
        height: 100vh;
        left: 50%;
        position: absolute;
        top: 100%;
        width: 1px;
      }

    #header .inner {
      -moz-transition: -moz-transform 1.5s ease, opacity 2s ease;
      -webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
      -o-transition: -o-transform 1.5s ease, opacity 2s ease;
      -ms-transition: -ms-transform 1.5s ease, opacity 2s ease;
      transition: transform 1.5s ease, opacity 2s ease;
      -moz-transition-delay: 0.25s;
      -webkit-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
      transition-delay: 0.25s;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      position: relative;
      z-index: 1;
    }

      #header .inner .actions {
        -moz-transition: -moz-transform 1.25s ease;
        -webkit-transition: -webkit-transform 1.25s ease;
        -o-transition: -o-transform 1.25s ease;
        -ms-transition: -ms-transform 1.25s ease;
        transition: transform 1.25s ease;
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        -ms-transition-delay: 1s;
        transition-delay: 1s;
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }

    #header:after {
      transition: -moz-opacity 1s ease;
      transition: -webkit-opacity 1s ease;
      transition: -o-opacity 1s ease;
      transition: -ms-opacity 1s ease;
      transition: opacity 1s ease;
      background-image: linear-gradient(45deg, #4fa49a, #4361c2);
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  body.is-loading #header .inner {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }

    body.is-loading #header .inner .actions {
      -moz-transform: translateY(30em);
      -webkit-transform: translateY(30em);
      -o-transform: translateY(30em);
      -ms-transform: translateY(30em);
      transform: translateY(30em);
      opacity: 0;
    }

  body.is-loading #header:after {
    opacity: 1;
  }


/* Navigation links to page section below */
/*#page-navigation

#portfolio

#estimate

#contact*/

#header .actions {
  margin: 2.5em 0 0 0;
  position: relative;
}

#header .actions:after {
  background: #ffffff;
  content: '';
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}

/*
  ========================================
  About Me
  ========================================
*/

.image-featured {
  float: right;
}



/*
  ========================================
  Portfolio
  ========================================
*/

.row {
  display: inline-block;
}

.landscape {
  position: relative;
}

/*
  ========================================
  Estimate Quote
  ========================================
*/

.jumbotron {
  text-align: center;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Open Sans",sans-serif;
}

hr {
  text-align: center;
  border-bottom:2px solid #d5d5d5;
  vertical-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width:30%; 
  height:0.001px; 
  background: #fff
}

div .answer {
  display: inline-block;
  font-family: "Abril Fatface";
  font-size: 17px;
  line-height: 1.42857143;
  color: #333;
  font-weight: bold;
  text-align: center;  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.sumPrice {
  text-align: right;
  color: #253659;
  font-weight: bold;
  font-family: "Abril Fatface";
  font-size: 17px;
}

#total.sumPrice {
  text-align: center;
  color: #253659;
  font-style: bold;
}

.btn.btn-default {
  margin: 40px;
  margin-top: 45px;
  width: 230px;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
  border-color: #F2E76B;
  background-color: #F2E76B;
}

.btn-circle.btn-xl {
  width: 120px;
  height: 120px;
  padding: 10px 16px;
  font-size: 40px;
  line-height: 1.33;
  border-radius: 65px;
  margin: 20px;
  color: #F2E76B;
  border-color: #F2E76B;
  background-color: #ffffff;
}

.glyphicon.glyphicon-play-circle {
  margin-top: 1px;
  margin-left: 12px;
}

.btn-default:hover {
  color: #253659;
  border-color: #253659;
}


       